[submodule "Third_parties/Mesh/mesh_tools"]
	path = Third_parties/Mesh/mesh_tools
	url = https://github.com/uos/mesh_tools.git
[submodule "Third_parties/Mesh/lvr_ros"]
	path = Third_parties/Mesh/lvr_ros
	url = https://github.com/uos/lvr_ros.git
