<?xml version="1.0"?>
<robot>
    <!-- ros_control plugin -->
    <gazebo>
        <plugin name="gazebo_ros_control" filename="libgazebo_ros_control.so">
            <robotNamespace>/a1_gazebo</robotNamespace>
            <robotSimType>gazebo_ros_control/DefaultRobotHWSim</robotSimType>
        </plugin>
    </gazebo>

    <!-- Show the trajectory of trunk center. -->
    <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>10</frequency>
            <plot>
                <link>base</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Yellow</material>
            </plot>
        </plugin>
    </gazebo>

    <!-- Show the trajectory of foot. You can add another trajectory about another foot. -->
    <!-- <gazebo>
        <plugin name="3dplot" filename="libLinkPlot3DPlugin.so">
            <frequency>100</frequency>
            <plot>
                <link>FL_foot</link>
                <pose>0 0 0 0 0 0</pose>
                <material>Gazebo/Green</material>
            </plot>
        </plugin>
    </gazebo> -->

    <gazebo>
        <plugin filename="libgazebo_ros_force.so" name="gazebo_ros_force">
            <bodyName>trunk</bodyName>
            <topicName>/apply_force/trunk</topicName>
        </plugin>
    </gazebo>

    <gazebo reference="imu_link">
        <gravity>true</gravity>
        <sensor name="imu_sensor" type="imu">
            <always_on>true</always_on>
            <update_rate>1000</update_rate>
            <visualize>true</visualize>
            <topic>__default_topic__</topic>
            <plugin filename="libgazebo_ros_imu_sensor.so" name="imu_plugin">
                <topicName>trunk_imu</topicName>
                <bodyName>imu_link</bodyName>
                <updateRateHZ>1000.0</updateRateHZ>
                <gaussianNoise>0.0</gaussianNoise>
                <xyzOffset>0 0 0</xyzOffset>
                <rpyOffset>0 0 0</rpyOffset>
                <frameName>imu_link</frameName>
            </plugin>
            <pose>0 0 0 0 0 0</pose>
        </sensor>
    </gazebo>

    <!-- Foot contacts. -->
    <gazebo reference="FR_calf">
        <sensor name="FR_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>FR_calf_fixed_joint_lump__FR_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="FL_calf">
        <sensor name="FL_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>FL_calf_fixed_joint_lump__FL_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="RR_calf">
        <sensor name="RR_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>RR_calf_fixed_joint_lump__RR_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>
    <gazebo reference="RL_calf">
        <sensor name="RL_foot_contact" type="contact">
        <update_rate>100</update_rate>
        <plugin name="contactPlugin" filename="libunitreeFootContactPlugin.so"/>
        <contact>
            <collision>RL_calf_fixed_joint_lump__RL_foot_collision_1</collision>
        </contact>
        </sensor>
    </gazebo>

    <!-- Visualization of Foot contacts. -->
    <gazebo reference="FR_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>FR_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="FL_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>FL_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="RR_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>RR_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>
    <gazebo reference="RL_foot">
        <visual>
            <plugin name="drawForcePlugin" filename="libunitreeDrawForcePlugin.so">
                <topicName>RL_foot_contact</topicName>
            </plugin>
        </visual>
    </gazebo>

    <gazebo reference="base">
        <material>Gazebo/Green</material>
        <turnGravityOff>false</turnGravityOff>
    </gazebo>

    <gazebo reference="trunk">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <gazebo reference="stick_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/White</material>
    </gazebo>

    <gazebo reference="imu_link">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/Red</material>
    </gazebo>

    <!-- FL leg -->
    <gazebo reference="FL_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="FL_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="FL_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="FL_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- FR leg -->
    <gazebo reference="FR_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="FR_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="FR_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="FR_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RL leg -->
    <gazebo reference="RL_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RL_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RL_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RL_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>

    <!-- RR leg -->
    <gazebo reference="RR_hip">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <material>Gazebo/DarkGrey</material>
    </gazebo>
    <gazebo reference="RR_thigh">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
    <gazebo reference="RR_calf">
        <mu1>0.2</mu1>
        <mu2>0.2</mu2>
        <self_collide>1</self_collide>
    </gazebo>
    <gazebo reference="RR_foot">
        <mu1>0.6</mu1>
        <mu2>0.6</mu2>
        <self_collide>1</self_collide>
        <material>Gazebo/DarkGrey</material>
        <kp  value="1000000.0"/>
        <kd  value="1.0"/>
    </gazebo>
   
    <!-- camera -->

    <joint name="camera_optical_joint" type="fixed">
    <!-- these values have to be these values otherwise the gazebo camera
        image won't be aligned properly with the frame it is supposedly
        originating from -->
    <origin xyz="0 0 0" rpy="${-pi/2} 0.0 ${-pi/2}"/>
    <parent link="camera_link"/>
    <child link="camera_link_optical"/>
  </joint>

  <link name="camera_link_optical">
  </link>

  <gazebo reference="camera_link">
    <sensor type="depth" name="camera1">
      <update_rate>30.0</update_rate>
      <camera name="head">
        <horizontal_fov>1.3962634</horizontal_fov>
        <image>
          <width>800</width>
          <height>800</height>
          <format>R8G8B8</format>
        </image>
        <clip>
          <near>0.02</near>
          <far>300</far>
        </clip>
		<noise>
          <type>gaussian</type>
          <mean>0.0</mean>
          <stddev>0.007</stddev>
        </noise>
      </camera>
      
        <plugin name="camera_controller" filename="libgazebo_ros_openni_kinect.so">
				  <baseline>0.2</baseline>
				  <alwaysOn>true</alwaysOn>
				  <updateRate>0.0</updateRate>
				  <cameraName>camera1_ir</cameraName>
				  <imageTopicName>/camera1/color/image_raw</imageTopicName>
				  <cameraInfoTopicName>/camera1/color/camera_info</cameraInfoTopicName>
				  <depthImageTopicName>/camera1/depth/image_raw</depthImageTopicName>
				  <depthImageInfoTopicName>/camera1/depth/camera_info</depthImageInfoTopicName>
				  <pointCloudTopicName>/pointcloud</pointCloudTopicName>
				  <frameName>camera_link_optical</frameName>
				  <pointCloudCutoff>0.5</pointCloudCutoff>
				  <pointCloudCutoffMax>3.0</pointCloudCutoffMax>
				  <distortionK1>0.00000001</distortionK1>
				  <distortionK2>0.00000001</distortionK2>
				  <distortionK3>0.00000001</distortionK3>
				  <distortionT1>0.00000001</distortionT1>
				  <distortionT2>0.00000001</distortionT2>
				  <CxPrime>0</CxPrime>
				  <Cx>0</Cx>
				  <Cy>0</Cy>
				  <focalLength>0</focalLength>
				  <hackBaseline>0</hackBaseline>
				</plugin>
    </sensor>
  </gazebo> 
	<!-- LiDAR -->
<!--
      <gazebo reference="vlp16_link">
      		
	      <turnGravityOff>true</turnGravityOff>
	      <sensor name='velodyne-VLP16' type='ray'>
	          <visualize>0</visualize>
	          <update_rate>1</update_rate>
	          <ray>
	            <scan>
	              <horizontal>
	                <samples>1800</samples>
	                <resolution>1</resolution>
	                <min_angle>-3.14159</min_angle>
	                <max_angle>+3.14159</max_angle>
	              </horizontal>
	              <vertical>
	                <samples>16</samples>
	                <resolution>1</resolution>
	                <min_angle>-0.261799</min_angle>
	                <max_angle>0.261799</max_angle>
	              </vertical>
	            </scan>
	            <range>
	              <min>0.055</min>
	              <max>70</max>
	              <resolution>0.001</resolution>
	            </range>
	            <noise>
	              <type>gaussian</type>
	              <mean>0</mean>
	              <stddev>0</stddev>
	            </noise>
	          </ray>
	          <plugin name='gazebo_ros_laser_controller' filename='libgazebo_ros_velodyne_laser.so'>
	            <topicName>/pointcloud</topicName>
	            <frameName>vlp16_link</frameName>
	            <min_range>0.9</min_range>
	            <max_range>70.0</max_range>
	            <gaussianNoise>0.008</gaussianNoise>
	            <robotNamespace>/</robotNamespace>
	          </plugin>
	          <pose frame=''>0 0 0 0 0 0</pose>
	        </sensor>
	    </gazebo>
	   
-->

<gazebo>

		<plugin name="p3d_base_controller" filename="libgazebo_ros_p3d.so">
		  <alwaysOn>true</alwaysOn>
		  <updateRate>50.0</updateRate>
		  <bodyName>trunk</bodyName>
		  <topicName>odom</topicName>
		  <gaussianNoise>0.01</gaussianNoise>
		  <frameName>world</frameName>
		  <xyzOffsets>0 0 0</xyzOffsets>
		  <rpyOffsets>0 0 0</rpyOffsets>
               </plugin>
   	</gazebo>




<gazebo>

		<plugin name="FL_foot" filename="libgazebo_ros_p3d.so">
		  <alwaysOn>true</alwaysOn>
		  <updateRate>50.0</updateRate>
		  <bodyName>FL_foot</bodyName>
		  <topicName>pos/FL_foot</topicName>
		  <gaussianNoise>0.01</gaussianNoise>
		  <frameName>trunk</frameName>
		  <xyzOffsets>0 0 0</xyzOffsets>
		  <rpyOffsets>0 0 0</rpyOffsets>
               </plugin>
   	</gazebo>




<gazebo>

		<plugin name="FR_foot" filename="libgazebo_ros_p3d.so">
		  <alwaysOn>true</alwaysOn>
		  <updateRate>50.0</updateRate>
		  <bodyName>FR_foot</bodyName>
		  <topicName>pos/FR_foot</topicName>
		  <gaussianNoise>0.01</gaussianNoise>
		  <frameName>trunk</frameName>
		  <xyzOffsets>0 0 0</xyzOffsets>
		  <rpyOffsets>0 0 0</rpyOffsets>
               </plugin>
   	</gazebo>




<gazebo>

		<plugin name="RL_foot" filename="libgazebo_ros_p3d.so">
		  <alwaysOn>true</alwaysOn>
		  <updateRate>50.0</updateRate>
		  <bodyName>RL_foot</bodyName>
		  <topicName>pos/RL_foot</topicName>
		  <gaussianNoise>0.01</gaussianNoise>
		  <frameName>trunk</frameName>
		  <xyzOffsets>0 0 0</xyzOffsets>
		  <rpyOffsets>0 0 0</rpyOffsets>
               </plugin>
   	</gazebo>




<gazebo>

		<plugin name="RR_foot" filename="libgazebo_ros_p3d.so">
		  <alwaysOn>true</alwaysOn>
		  <updateRate>50.0</updateRate>
		  <bodyName>RR_foot</bodyName>
		  <topicName>pos/RR_foot</topicName>
		  <gaussianNoise>0.01</gaussianNoise>
		  <frameName>trunk</frameName>
		  <xyzOffsets>0 0 0</xyzOffsets>
		  <rpyOffsets>0 0 0</rpyOffsets>
               </plugin>
   	</gazebo>


</robot>

<!--
      <plugin name="camera_controller" filename="libgazebo_ros_camera.so">
        <alwaysOn>true</alwaysOn>
        <updateRate>0.0</updateRate>
        <cameraName>camera1</cameraName>
        <imageTopicName>image_raw</imageTopicName>
        <cameraInfoTopicName>camera_info</cameraInfoTopicName>
        <frameName>camera_link</frameName>
        <hackBaseline>0.07</hackBaseline>
        <distortionK1>0.0</distortionK1>
        <distortionK2>0.0</distortionK2>
        <distortionK3>0.0</distortionK3>
        <distortionT1>0.0</distortionT1>
        <distortionT2>0.0</distortionT2>
      </plugin>
-->
