<?xml version="1.0"?>
<launch>
  <arg name="node_start_delay" default="30.0" /> 
  <param name="robot_name" value="a1"/>
  <include file="$(find unitree_gazebo)/launch/normal.launch" >
	<arg name="rname" value="a1"/>
  </include>
 
  <node pkg="unitree_controller" type="unitree_servo" name="unitree_servo" respawn="true" output="screen" launch-prefix="bash -c 'sleep 10; $0 $@' "/>
  

  <node pkg="unitree_controller" type="unitree_transform" name="unitree_transform" respawn="true" output="screen" launch-prefix="bash -c 'sleep 15; $0 $@' "/> 
  
  

  <!-- <node name="commander" pkg="unitree_controller" type="unitree_move_kinetic" output="screen" launch-prefix =" bash -c 'sleep 40; $0 $@'"/> -->

 <!-- <node name="commander" pkg="unitree_controller" type="unitree_move_kinetic" output="screen" launch-prefix=" bash -c 'sleep 40; $0 $@'; gnome-terminal "put 2 dashes here"command "/> -->
</launch>
